@model User

<div class="badi">
	<div class="login-container bg-light">
		<h1>Kayıt Ol</h1>
		@using (Html.BeginForm("Register", "User", FormMethod.Post))
		{
			<div>
				@Html.LabelFor(m => m.Name, "Ad")
				@Html.TextBoxFor(m => m.Name, new { placeholder = "Ahmet"})
				@Html.ValidationMessageFor(m => m.Name)
			</div>
			<div>
				@Html.LabelFor(m => m.Surname, "Soyad")
				@Html.TextBoxFor(m => m.Surname, new { placeholder = "Özkan"})
				@Html.ValidationMessageFor(m => m.Surname)
			</div>
			<div>
				@Html.LabelFor(m => m.Email, "E-posta Adresi")
				@Html.TextBoxFor(m => m.Email, new { placeholder = "örnek@gmail.com"})
				@Html.ValidationMessageFor(m => m.Email)
			</div>
			<div>
				@Html.LabelFor(m => m.PhoneNumber, "Telefon Numarası")
				@Html.TextBoxFor(m => m.PhoneNumber, new { placeholder = "05xxxxxxxxx"})
				@Html.ValidationMessageFor(m => m.PhoneNumber)
			</div>
			<div class="my-2">
				@Html.LabelFor(m => m.Age, "Yaş")
				<select asp-for="Age" class="form-control">
					@for (int i = 18; i < 101; i++)
					{
						<option>@i</option>
					}
				</select>
				@Html.ValidationMessageFor(m => m.Age)
			</div>
			<div>
				@Html.LabelFor(m => m.Password, "Şifre")
				@Html.TextBoxFor(m => m.Password, new { placeholder = "**********"})
				@Html.ValidationMessageFor(m => m.Password)
			</div>
			<div>
				@Html.LabelFor(m => m.Gender, "Cinsiyet") <br />
				<input type="radio" asp-for="Gender" value="Erkek" class="my-2" /> Erkek <br />
				<input type="radio" asp-for="Gender" value="Kadın" class="my-2" /> Kadın
				@Html.ValidationMessageFor(m => m.Gender)
			</div>
			<button class="btn btn-primary">Kayıt Ol</button>
		}
		<div class="register-link">
			Hesabın var mı? <a href="/User/Login">Giriş Yap</a>
		</div>
	</div>
</div>
